---
---

<div>
    <p>
        <strong>이 공간의 존재 의의</strong>
    </p>
    <ul class="mt-5">
      <li>
        <strong>간단한 정리.</strong> 지식, 경험 그리고 생각.
        <ul>
            <li>
                완성도보다는 간결함과 속도.
            </li>
        </ul>      
      </li>
      <li>
        <strong>프로젝트 내용 아카이빙.</strong> 만든 결과물과 영향.
      </li>
    </ul>
  </div>
  