---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Logging In
      </span>
    </h1>
    <p class="text-2xl pb-4">AI Engineer. OSS Kid.</p>
  </div>
  <div>
    <p class="mb-5">
      안녕! 이곳까지 온 건 아마도 호기심 때문인가?<br>
      그렇다면 이 공간을 만들어가는 나와도 잘 맞을 거야! 난 호기심 많은 사람을 좋아하거든 :)<br>
      방문해줘서 고마워! 비록 이곳은 나만의 공간으로 초점을 두어서 담고 있는 내용들은 다소 산만할 수 있지만,
      그만큼 날 것의 나를 만날 수 있는 곳이기도 해.<br>
      그럼 그게 누가 되었든, 이 글을 읽고 있는 네 하루가 잘 풀리길 바랄게!!
    </p>
    <!-- <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2">npx create-blogster@latest --theme sleek</code>
    </p> -->
  </div>
</section>
